st.termname:	st-256color
st.shell: 	/bin/zsh

st.foreground:	#ffffff
st.background:	#302f2f
st.cursorColor:	#ffffff

st.font: 	xft:DejaVu Sans Mono:pixelsize=9:antialias=true:autohint=true;
st.letterspace:	-3

*.background:   #0c0c16
*.color0:       #0c0c16
*.color1:       #3D817F
*.color10:      #659173
*.color11:      #9E8868
*.color12:      #3B6590
*.color13:      #4E6189
*.color14:      #5B9599
*.color15:      #a7d4e2
*.color2:       #659173
*.color3:       #9E8868
*.color4:       #3B6590
*.color5:       #4E6189
*.color6:       #5B9599
*.color66:      #0c0c16
*.color7:       #a7d4e2
*.color8:       #74949e
*.color9:       #3D817F
*.foreground:   #a7d4e2
*background:    #0c0c16
*color0:        #0c0c16
*color1:        #3D817F
*color10:       #659173
*color11:       #9E8868
*color12:       #3B6590
*color13:       #4E6189
*color14:       #5B9599
*color15:       #a7d4e2
*color2:        #659173
*color3:        #9E8868
*color4:        #3B6590
*color5:        #4E6189
*color6:        #5B9599
*color66:       #0c0c16
*color7:        #a7d4e2
*color8:        #74949e
*color9:        #3D817F
*foreground:    #a7d4e2
URxvt*background:       [100]#0c0c16
URxvt*borderColor:      [100]#0c0c16
URxvt*cursorColor:      #a7d4e2
URxvt*depth:    32
URxvt*foreground:       #a7d4e2
UXTerm*background:      #0c0c16
UXTerm*cursorColor:     #a7d4e2
UXTerm*foreground:      #a7d4e2
XClock*background:      #0c0c16
XClock*foreground:      #a7d4e2
XClock*hourColor:       rgba:a7/d4/e2/ff
XClock*majorColor:      rgba:a7/d4/e2/ff
XClock*minorColor:      rgba:a7/d4/e2/ff
XClock*minuteColor:     rgba:a7/d4/e2/ff
XClock*secondColor:     rgba:a7/d4/e2/ff
XTerm*background:       #0c0c16
XTerm*cursorColor:      #a7d4e2
XTerm*foreground:       #a7d4e2
emacs*background:       #0c0c16
emacs*foreground:       #a7d4e2
